@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: grey;
  font-size: 2.5em;
}

form {
  margin: 1em;
  padding: 1em;
  background-color: lightgrey;
  border-radius: 10px;
}

#attributs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.text_att {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}

.num_att {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}

label {
  margin: 0.5em 0;
  padding: 0.2em;
  color: darkgrey;
  width: 10em;
  border-radius: 5px;
  background-color: #e8e8e8;
}

.text_att input {
  width: 10em;
  margin: 0.2em 0;
}

.num_input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.num_input input {
  width: 3em;
}

.num_input p {
  font-style: oblique;
  font-size: 0.8em;
}

#button {
  margin-top: 1em;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}

#maze {
  margin: 1em;
}

.wall {
  fill: black;
}

.corridor {
  fill: white;
}
