<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MAZER</title>
    <meta name="description" content="A page to show a randomly generated labyrinth">
    <meta name="author" content="Germain Gaillard">
    <meta name="keywords" content="labyrinth, maze, random">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <h1>MAZER</h1>
    <p>Page de test pour Mazer</p>
    <form action="" method="get">
      <p>Entrer les attributs du labyrinthe</p>
      <div id="attributs">
        <div class="text_att">
          <label for="seed">Graine</label>
          <input type="text" name="seed" value="{{ maze.seed }}"/>
        </div>
        <div class="num_att">
          <label for="width">Largeur</label>
          <div class="num_input">
            <input type="number" name="width" value="{{ maze.square_x }}" min="3" max="180" step="2" required/>
            <p>Cases</p>
          </div>
        </div>
        <div class="num_att">
        <label for="height">Hauteur</label>
          <div class="num_input">
            <input type="number" name="height" value="{{ maze.square_y }}" min="3" max="90" step="2" required/>
            <p>Cases</p>
          </div>
        </div>
      </div>
      <input class="button" type="submit" value="Générer" />
    </form>
    <p>{{ maze.square_x }} X {{ maze.square_y }}</p>
    {% if maze.seed %}
      <p>Graine = {{ maze.seed }}</p>
    {% endif %}
    <div id="maze">
      <svg width="{{ maze.width }}" height="{{ maze.height }}">
        {% for coord, value in maze.maze.items() %}
          {% if value == '#' %}
              <rect class="wall" x="{{ coord[0] }}" y="{{ coord[1] }}" width="10" height="10"/>
          {% elif value == '.' %}
              <rect class="path" x="{{ coord[0] }}" y="{{ coord[1] }}" width="10" height="10"/>
          {% else %}
              <rect class="corridor" x="{{ coord[0] }}" y="{{ coord[1] }}" width="10" height="10"/>
          {% endif %}
        {% endfor %}
      </svg>
  </div>
    <button id="show" class="button" onclick="showPath()">Voir solution</button>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
